###  Mret xlsx to Tidydata

In [1]:
from databaker.framework import *

In [2]:
import pandas as pd

In [3]:
inputFile = 'mret.xlsx'

In [4]:
tab = loadxlstabs(inputFile)

Loading mret.xlsx which has size 1511832 bytes
Table names: ['Sheet1']

In [5]:
tab = tab[0]

In [6]:
observations = tab.excel_ref('B8').expand(DOWN).expand(RIGHT).is_not_blank()

In [7]:
Title = tab.excel_ref('B1').expand(RIGHT).is_not_blank()

In [8]:
CDID = tab.excel_ref('B2').expand(RIGHT).is_not_blank()

In [9]:
Year = tab.excel_ref('A8').expand(DOWN).is_not_blank()

In [10]:
Currency = tab.excel_ref('P3')

In [11]:
Dimensions = [
            HDimConst('Geography', 'K02000001'),
            HDim(Year,'TIME',DIRECTLY,LEFT),
            HDim(CDID,'Code Identifier',DIRECTLY,ABOVE),
            HDimConst('Currency', 'GBP(millions)'),            
            HDim(Title,'Title',DIRECTLY,ABOVE)
    
]

In [12]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)

In [13]:
new_table = c1.topandas()

multiple TIMEUNITs: 'Year'(15005), 'Quarter'(62375), ''(187807)

In [14]:
new_table['Title'] = new_table['Title'].map(lambda cell:cell.replace('Â£m', ''))

In [15]:
new_table = new_table.drop('TIMEUNIT', axis=1)

In [16]:
print(len(new_table))

265187

In [17]:
new_table.fillna('', inplace=True)

writetechnicalCSV('C:\\Users\\vamsi\\Desktop\\Gdrive\\Out\\Mret\\mretWDA.csv', new_table)

writing 1 conversion segments into C:\Users\vamsi\Desktop\Gdrive\Out\Mret\mretWDA.csv
pdconversionwrite segment size 265187

In [18]:
temp_table = pd.read_excel('cord_sitc classification table.xlsx')

In [23]:
temp_table.head()

         Sequence  cdid COMMODITY AREA DIRECTION BASIS PRICE SEASADJ PERIOD
NaN NaN       1.0  SDSX    2plus4   EU       BAL   BOP    CP     NSA      M
    NaN       2.0  SGLO   5minus8   EU       BAL   BOP    CP     NSA      M
    NaN       3.0  SFJC    7plus8   EU       BAL   BOP    CP     NSA      M
    NaN       4.0  LKTX   TminusO   EU       BAL   BOP    CP     NSA      M
    NaN       5.0  SDMS    0plus1   EU       BAL   BOP    CP     NSA      M

In [24]:
new_table.head()

,OBS,GEOG,TIME,Code Identifier,Currency,Title
0,1039.0,K02000001,1955,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services
1,997.0,K02000001,1955,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services
2,1147.0,K02000001,1956,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services
3,1121.0,K02000001,1956,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services
4,1250.0,K02000001,1957,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services

In [26]:
new_table.head(1)['Code Identifier']

0    IKBB
Name: Code Identifier, dtype: object

In [27]:
temp_table.head(1)['cdid']

NaN  NaN    SDSX
Name: cdid, dtype: object

In [28]:
new_table = pd.merge(new_table,temp_table, how = 'left', left_on = 'Code Identifier', right_on = 'cdid')

In [30]:
new_table

,OBS,GEOG,TIME,Code Identifier,Currency,Title,Sequence,cdid,COMMODITY,AREA,DIRECTION,BASIS,PRICE,SEASADJ,PERIOD
0,1039.0,K02000001,1955,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,997.0,K02000001,1955,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1147.0,K02000001,1956,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1121.0,K02000001,1956,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1250.0,K02000001,1957,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1129.0,K02000001,1957,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1218.0,K02000001,1958,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1099.0,K02000001,1958,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1249.0,K02000001,1959,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1131.0,K02000001,1959,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1333.0,K02000001,1960,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1294.0,K02000001,1960,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1399.0,K02000001,1961,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1348.0,K02000001,1961,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1435.0,K02000001,1962,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1385.0,K02000001,1962,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1457.0,K02000001,1963,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1453.0,K02000001,1963,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1551.0,K02000001,1964,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1585.0,K02000001,1964,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1613.0,K02000001,1965,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1679.0,K02000001,1965,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1800.0,K02000001,1966,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1756.0,K02000001,1966,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2041.0,K02000001,1967,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1884.0,K02000001,1967,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2425.0,K02000001,1968,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2084.0,K02000001,1968,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2691.0,K02000001,1969,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2299.0,K02000001,1969,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265157,19479.0,K02000001,2017 NOV,LGER,GBP(millions),BOP:Imports:CP SA:Non-EU(2007):Total Trade in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265158,113.2,K02000001,2017 NOV,LGEY,GBP(millions),non-EU(2004):BOP:IM:price index:NSA:Total Trad...,1511.0,LGEY,T,RW,IM,BOP,DEF,NSA,M
265159,1324.0,K02000001,2017 NOV,HCJD,GBP(millions),Balance of payments: Trade in Goods:Western Eu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265160,115.5,K02000001,2017 NOV,LGFA,GBP(millions),non-EU(2004):BOP:IM:volume index:SA:Total Trad...,1515.0,LGFA,T,RW,IM,BOP,VM,SA,M
265161,81.0,K02000001,2017 NOV,SGQM,GBP(millions),EU:BOP:IM:SA:Unspecified goods: SITC 9,5726.0,SGQM,9,EU,IM,BOP,CP,SA,M
265162,106.1,K02000001,2017 NOV,LGDL,GBP(millions),EU(2004):BOP:IM:volume index:SA:Total Trade in...,1488.0,LGDL,T,EU,IM,BOP,VM,SA,M
265163,118.0,K02000001,2017 NOV,SGPB,GBP(millions),EU:BOP:EX:SA:Unspecified goods: SITC 9,5714.0,SGPB,9,EU,EX,BOP,CP,SA,M
265164,110.8,K02000001,2017 NOV,LGDJ,GBP(millions),EU(2004):BOP:IM:price index:NSA:Total Trade in...,1484.0,LGDJ,T,EU,IM,BOP,DEF,NSA,M
265165,-4666.0,K02000001,2017 NOV,LGDT,GBP(millions),Balance of payments:Trade in Goods: Non-EU(200...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265166,5598.0,K02000001,2017 NOV,HCHW,GBP(millions),Balance of payments: Trade in goods: Rest of t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265167,14813.0,K02000001,2017 NOV,LGDY,GBP(millions),BOP:Exports:CP SA:Non-EU(2007):Total Trade in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265168,8795.0,K02000001,2017 NOV,HCIF,GBP(millions),Balance of payments:Trade in Goods: Rest of th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265169,1553.0,K02000001,2017 NOV,HCII,GBP(millions),Balance of payments: Trade in Goods: Other OEC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265170,107.0,K02000001,2017 NOV,LGEH,GBP(millions),non-EU(2004):BOP:EX:volume index:SA:Total Trad...,1503.0,LGEH,T,RW,EX,BOP,VM,SA,M
265171,110.2,K02000001,2017 NOV,LGEF,GBP(millions),non-EU(2004):BOP:EX:price index:NSA:Total Trad...,1499.0,LGEF,T,RW,EX,BOP,DEF,NSA,M
265172,131.0,K02000001,2017 NOV,QALC,GBP(millions),BoP-consistent: Hungary: Exports: SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265173,-805.0,K02000001,2017 NOV,SGRK,GBP(millions),non-EU:BOP:Balance:SA:Unspecified goods: SITC 9,5735.0,SGRK,9,RW,BAL,BOP,CP,SA,M
265174,-113.0,K02000001,2017 NOV,QALE,GBP(millions),BoP-consistent: Hungary: Balance: SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265175,244.0,K02000001,2017 NOV,QALD,GBP(millions),BoP-consistent: Hungary: Imports: SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265176,68.0,K02000001,2017 NOV,QALM,GBP(millions),BoP-consistent: Egypt: Imports: SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265177,114.0,K02000001,2017 NOV,QALL,GBP(millions),BoP-consistent: Egypt: Exports: SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265178,46.0,K02000001,2017 NOV,QALN,GBP(millions),BoP-consistent: Egypt: Balance: SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265179,75.0,K02000001,2017 NOV,QALY,GBP(millions),Balance of payments: Trade in Goods: Ships: SI...,5285.0,QALY,793,WW,IM,BOP,CP,SA,M
265180,139.0,K02000001,2017 NOV,QALX,GBP(millions),Balance of payments: Trade in Goods: Ships: SI...,5276.0,QALX,793,WW,EX,BOP,CP,SA,M
265181,64.0,K02000001,2017 NOV,QALZ,GBP(millions),Balance of payments: Ships: SITC 793:Balance: ...,5271.0,QALZ,793,WW,BAL,BOP,CP,SA,M
265182,1400.0,K02000001,2017 NOV,QALU,GBP(millions),Balance of payments: Trade in Goods: Aircraft:...,5221.0,QALU,792,WW,EX,BOP,CP,SA,M
265183,736.0,K02000001,2017 NOV,SGRX,GBP(millions),non-EU:BOP:EX:SA:Unspecified goods: SITC 9,5740.0,SGRX,9,RW,EX,BOP,CP,SA,M
265184,613.0,K02000001,2017 NOV,QALW,GBP(millions),Balance of payments: Trade in Goods: Aircraft:...,5216.0,QALW,792,WW,BAL,BOP,CP,SA,M
265185,787.0,K02000001,2017 NOV,QALV,GBP(millions),Balance of payments: Trade in Goods: Aircraft:...,5230.0,QALV,792,WW,IM,BOP,CP,SA,M
265186,1541.0,K02000001,2017 NOV,SGTK,GBP(millions),non-EU:BOP:IM:SA:Unspecified goods: SITC 9,5752.0,SGTK,9,RW,IM,BOP,CP,SA,M

In [32]:
new_table.drop(['Title','cdid'], axis = 1, inplace = True)

In [34]:
new_table['Year'] = new_table['TIME'].map(lambda x: str(x)[:4])

In [35]:
new_table['Months/Quarter'] = new_table['TIME'].map(lambda x: str(x)[4:])

In [38]:
new_table = new_table.drop('TIME', axis=1)

In [39]:
new_table.rename(index= str, columns= {'Year':'TIME'}, inplace = True)

In [41]:
new_table

,OBS,GEOG,Code Identifier,Currency,Sequence,COMMODITY,AREA,DIRECTION,BASIS,PRICE,SEASADJ,PERIOD,TIME,Months/Quarter
0,1039.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1955,
1,997.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1955,
2,1147.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956,
3,1121.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956,
4,1250.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957,
5,1129.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957,
6,1218.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958,
7,1099.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958,
8,1249.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959,
9,1131.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959,
10,1333.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960,
11,1294.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960,
12,1399.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961,
13,1348.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961,
14,1435.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962,
15,1385.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962,
16,1457.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963,
17,1453.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963,
18,1551.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964,
19,1585.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964,
20,1613.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1965,
21,1679.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1965,
22,1800.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1966,
23,1756.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1966,
24,2041.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1967,
25,1884.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1967,
26,2425.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,
27,2084.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,
28,2691.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969,
29,2299.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265157,19479.0,K02000001,LGER,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265158,113.2,K02000001,LGEY,GBP(millions),1511.0,T,RW,IM,BOP,DEF,NSA,M,2017,NOV
265159,1324.0,K02000001,HCJD,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265160,115.5,K02000001,LGFA,GBP(millions),1515.0,T,RW,IM,BOP,VM,SA,M,2017,NOV
265161,81.0,K02000001,SGQM,GBP(millions),5726.0,9,EU,IM,BOP,CP,SA,M,2017,NOV
265162,106.1,K02000001,LGDL,GBP(millions),1488.0,T,EU,IM,BOP,VM,SA,M,2017,NOV
265163,118.0,K02000001,SGPB,GBP(millions),5714.0,9,EU,EX,BOP,CP,SA,M,2017,NOV
265164,110.8,K02000001,LGDJ,GBP(millions),1484.0,T,EU,IM,BOP,DEF,NSA,M,2017,NOV
265165,-4666.0,K02000001,LGDT,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265166,5598.0,K02000001,HCHW,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265167,14813.0,K02000001,LGDY,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265168,8795.0,K02000001,HCIF,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265169,1553.0,K02000001,HCII,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265170,107.0,K02000001,LGEH,GBP(millions),1503.0,T,RW,EX,BOP,VM,SA,M,2017,NOV
265171,110.2,K02000001,LGEF,GBP(millions),1499.0,T,RW,EX,BOP,DEF,NSA,M,2017,NOV
265172,131.0,K02000001,QALC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265173,-805.0,K02000001,SGRK,GBP(millions),5735.0,9,RW,BAL,BOP,CP,SA,M,2017,NOV
265174,-113.0,K02000001,QALE,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265175,244.0,K02000001,QALD,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265176,68.0,K02000001,QALM,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265177,114.0,K02000001,QALL,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265178,46.0,K02000001,QALN,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265179,75.0,K02000001,QALY,GBP(millions),5285.0,793,WW,IM,BOP,CP,SA,M,2017,NOV
265180,139.0,K02000001,QALX,GBP(millions),5276.0,793,WW,EX,BOP,CP,SA,M,2017,NOV
265181,64.0,K02000001,QALZ,GBP(millions),5271.0,793,WW,BAL,BOP,CP,SA,M,2017,NOV
265182,1400.0,K02000001,QALU,GBP(millions),5221.0,792,WW,EX,BOP,CP,SA,M,2017,NOV
265183,736.0,K02000001,SGRX,GBP(millions),5740.0,9,RW,EX,BOP,CP,SA,M,2017,NOV
265184,613.0,K02000001,QALW,GBP(millions),5216.0,792,WW,BAL,BOP,CP,SA,M,2017,NOV
265185,787.0,K02000001,QALV,GBP(millions),5230.0,792,WW,IM,BOP,CP,SA,M,2017,NOV
265186,1541.0,K02000001,SGTK,GBP(millions),5752.0,9,RW,IM,BOP,CP,SA,M,2017,NOV

In [45]:
temp_table = new_table[new_table['Sequence'].isnull() == True]

In [46]:
temp_table

,OBS,GEOG,Code Identifier,Currency,Sequence,COMMODITY,AREA,DIRECTION,BASIS,PRICE,SEASADJ,PERIOD,TIME,Months/Quarter
0,1039.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1955,
1,997.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1955,
2,1147.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956,
3,1121.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956,
4,1250.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957,
5,1129.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957,
6,1218.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958,
7,1099.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958,
8,1249.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959,
9,1131.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959,
10,1333.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960,
11,1294.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960,
12,1399.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961,
13,1348.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1961,
14,1435.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962,
15,1385.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962,
16,1457.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963,
17,1453.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963,
18,1551.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964,
19,1585.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964,
20,1613.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1965,
21,1679.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1965,
22,1800.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1966,
23,1756.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1966,
24,2041.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1967,
25,1884.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1967,
26,2425.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,
27,2084.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968,
28,2691.0,K02000001,IKBB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969,
29,2299.0,K02000001,IKBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265109,-90.0,K02000001,CHVG,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265111,8.0,K02000001,WMCX,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265112,-51.0,K02000001,WMDG,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265115,117.0,K02000001,WMDB,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265116,168.0,K02000001,WMDC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265123,493.0,K02000001,EOBA,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265124,417.0,K02000001,EOBC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265125,512.0,K02000001,EOBD,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265126,736.0,K02000001,EOBU,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265127,780.0,K02000001,EOBW,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265129,787.0,K02000001,EOBX,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265131,-243.0,K02000001,EOCO,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265132,-363.0,K02000001,EOCQ,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265133,-275.0,K02000001,EOCR,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265143,14295.0,K02000001,LGCK,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265149,21860.0,K02000001,LGDC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265156,-7565.0,K02000001,LGCG,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265157,19479.0,K02000001,LGER,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265159,1324.0,K02000001,HCJD,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265165,-4666.0,K02000001,LGDT,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265166,5598.0,K02000001,HCHW,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265167,14813.0,K02000001,LGDY,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265168,8795.0,K02000001,HCIF,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265169,1553.0,K02000001,HCII,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265172,131.0,K02000001,QALC,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265174,-113.0,K02000001,QALE,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265175,244.0,K02000001,QALD,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265176,68.0,K02000001,QALM,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265177,114.0,K02000001,QALL,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV
265178,46.0,K02000001,QALN,GBP(millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,NOV

In [48]:
Codelist = temp_table['Code Identifier'].unique()

In [51]:
Codelist

array(['IKBB', 'IKBC', 'BQBH', 'BQAX', 'BOQM', 'BPBN', 'HCPC', 'HCRB',
       'QATC', 'QATB', 'J8YI', 'J8YG', 'J8YH', 'QATD', 'IKBD', 'IKBJ',
       'IKBH', 'IKBI', 'BK67', 'BQGV', 'BQGU', 'BQGT', 'BQGR', 'BQGQ',
       'BQGP', 'BQGO', 'BQGN', 'BQGM', 'BQGL', 'BQHS', 'BQHQ', 'BQHO',
       'BQHN', 'BQHE', 'BQHD', 'BQHC', 'BQHB', 'BQHA', 'BQGZ', 'BQGY',
       'BQGX', 'ERDG', 'ERDH', 'ERDI', 'ERDJ', 'ERDK', 'ERDL', 'ERDM',
       'ERDN', 'ERDO', 'ERDP', 'ERDQ', 'ERDR', 'ERDS', 'ERDT', 'ERDU',
       'ERDV', 'J9C6', 'J9C4', 'J9C5', 'OFNN', 'ERDW', 'ERDX', 'ERDY',
       'ERDZ', 'EREA', 'EREB', 'EREC', 'ERED', 'EREE', 'EREF', 'EREG',
       'EREH', 'EREI', 'EREJ', 'EREK', 'EREL', 'EREM', 'EREN', 'EREO',
       'EREP', 'CLAT', 'CLAS', 'AJFW', 'CPLZ', 'CPLY', 'AJFU', 'CPLX',
       'AJFV', 'AJFO', 'AJFP', 'AJFK', 'AJFI', 'AJFJ', 'AJFD', 'AJFB',
       'EPJX', 'EPJY', 'EPJZ', 'HDII', 'EPLV', 'EPLW', 'EPLX', 'EPMA',
       'HDJQ', 'EPNE', 'EPNV', 'EPNW', 'EPNX', 'EPOA', 'EPOB', 'EPMB',
       'EPME', 'EPMV', 'EPMW', 'EPMX', 'EPNA', 'EPNB', 'EPOE', 'AUEV',
       'E4ZN', 'E2XQ', 'N3C4', 'N3C5', 'N3C6', 'CHNH', 'CHNG', 'CHNF',
       'CHNE', 'CHND', 'CHNC', 'CHNB', 'CHNA', 'CHMZ', 'CHMY', 'HBTS',
       'WYUF', 'CHOE', 'CHOD', 'CHOC', 'CHOB', 'CHOA', 'CHNZ', 'CHNY',
       'CHNX', 'CHNW', 'CHNV', 'CHNU', 'CHNT', 'CHNS', 'CHNR', 'CHNQ',
       'CHNP', 'CHNO', 'CHNM', 'CHNJ', 'CHNI', 'FKML', 'FKMM', 'FKMN',
       'FKMO', 'FKMP', 'FKMQ', 'FKMR', 'HBVG', 'FKMS', 'FKMT', 'FKMU',
       'FKMV', 'FKMW', 'FKMX', 'FKMY', 'FKMZ', 'WYUT', 'E5GB', 'HBXP',
       'ENYL', 'ENYO', 'THAP', 'HBZD', 'AUSS', 'HBZQ', 'HBZW', 'ENYP',
       'ENYS', 'ENYT', 'HBYF', 'ENYW', 'CHVI', 'CHVH', 'CHVG', 'WMCX',
       'WMDG', 'WMDB', 'WMDC', 'EOBA', 'EOBC', 'EOBD', 'EOBU', 'EOBW',
       'EOBX', 'EOCO', 'EOCQ', 'EOCR', 'LGCK', 'LGDC', 'LGCG', 'LGER',
       'HCJD', 'LGDT', 'HCHW', 'LGDY', 'HCIF', 'HCII', 'QALC', 'QALE',
       'QALD', 'QALM', 'QALL', 'QALN'], dtype=object)

In [52]:
codes = pd.Series(Codelist)

In [54]:
codes.to_csv('Codelist.csv', index = False)

In [40]:
new_table.to_csv('C:\\Users\\vamsi\\Desktop\\Gdrive\\Out\\Mret\\mretfinal.csv', index = False)