###  pnbp xlsx to WTA

In [19]:
from databaker.framework import *

In [20]:
import pandas as pd

In [21]:
inputFile = 'pnbp.xlsx'

In [22]:
tab = loadxlstabs(inputFile)

Loading pnbp.xlsx which has size 424324 bytes
Table names: ['data']

In [23]:
tab = tab[0]

In [24]:
observations = tab.excel_ref('B8').expand(DOWN).expand(RIGHT).is_not_blank()

In [25]:
Title = tab.excel_ref('B1').expand(RIGHT).is_not_blank()

In [26]:
CDID = tab.excel_ref('B2').expand(RIGHT).is_not_blank()

In [27]:
Year = tab.excel_ref('A8').expand(DOWN).is_not_blank()

In [28]:
Currency = tab.excel_ref('P3')

In [29]:
Dimensions = [
            HDimConst('GEOG', 'K02000001'),
            HDim(Year,'TIME',DIRECTLY,LEFT),
            HDim(CDID,'Code Identifier',DIRECTLY,ABOVE),
            HDimConst('Currency', 'GBP(millions)'),            
            HDim(Title,'Title',DIRECTLY,ABOVE)
    
]

In [30]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# savepreviewhtml(c1)

In [31]:
new_table = c1.topandas()

multiple TIMEUNITs: 'Year'(9495), 'Quarter'(37412)

In [32]:
new_table['Title'] = new_table['Title'].map(lambda cell:cell.replace('£m', ''))

In [34]:
new_table

,OBS,GEOG,TIME,TIMEUNIT,Code Identifier,Currency,Title
0,194.0,K02000001,1946,Year,HMBN,GBP(millions),BoP Investment Income credits NSA
1,76.0,K02000001,1946,Year,HMBM,GBP(millions),BoP Investment Income Balance NSA
2,56.0,K02000001,1946,Year,HMBP,GBP(millions),BoP Primary Income Balance NSA
3,118.0,K02000001,1946,Year,HMBO,GBP(millions),BoP Investment Income debits NSA
4,181.0,K02000001,1946,Year,HBNT,GBP(millions),BoP FA total Net flows NSA
5,-153.0,K02000001,1946,Year,HBOG,GBP(millions),BoP Current Account Balance NSA
6,-101.0,K02000001,1946,Year,BOKI,GBP(millions),BOP:Balance:CP SA:Total Trade in Goods
7,1079.0,K02000001,1946,Year,BOKH,GBP(millions),Balance of Payments:Imports:CP SA:Total Trade ...
8,978.0,K02000001,1946,Year,BOKG,GBP(millions),BOP:Exports:CP SA:Total Trade in Goods
9,118.0,K02000001,1946,Year,HBOL,GBP(millions),BoP Investment Income Debits SA
10,194.0,K02000001,1946,Year,HBOK,GBP(millions),BoP Investment Income Credits SA
11,27.0,K02000001,1946,Year,FLYL,GBP(millions),Capital Account (Debits) Total: CP SA:
12,76.0,K02000001,1946,Year,HBOM,GBP(millions),BoP Investment Income Balance SA
13,-153.0,K02000001,1946,Year,HBOP,GBP(millions),BoP Current Account Balance SA
14,0.0,K02000001,1946,Year,MT5W,GBP(millions),Other Primary Income £M (Balance)
15,-101.0,K02000001,1946,Year,LQCT,GBP(millions),BOP:Balance:NSA:Total Trade in Goods £M
16,447.0,K02000001,1946,Year,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services
17,721.0,K02000001,1946,Year,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services
18,166.0,K02000001,1946,Year,KTNF,GBP(millions),Secondary Income: Total: Balance: £M: CP: NSA
19,-274.0,K02000001,1946,Year,IKBD,GBP(millions),BOP:Balance:CP SA: Total Trade in Services
20,1425.0,K02000001,1946,Year,IKBH,GBP(millions),Balance of Payments: Trade in Goods & Services...
21,1800.0,K02000001,1946,Year,IKBI,GBP(millions),Balance of Payments: Trade in Goods & Services...
22,267.0,K02000001,1946,Year,IKBN,GBP(millions),Secondary Income: Total exports: £M: CP: SA
23,101.0,K02000001,1946,Year,IKBO,GBP(millions),Secondary Income: Total imports: £M: CP: SA
24,166.0,K02000001,1946,Year,IKBP,GBP(millions),Secondary Income (BPM6) total bal. CP SA:
25,-274.0,K02000001,1946,Year,KTMS,GBP(millions),Balance of Payments: Total Trade in Services: ...
26,-20.0,K02000001,1946,Year,KTMP,GBP(millions),Income: Primary Income: Balance: £M: CP: NSA
27,-375.0,K02000001,1946,Year,KTMY,GBP(millions),Balance of Payments: Total Trade in Goods & Se...
28,-21.0,K02000001,1946,Year,FKMJ,GBP(millions),Capital Account: Balance: CP NSA
29,-20.0,K02000001,1946,Year,IJAJ,GBP(millions),BOP: Income (BPM6) Primary Income balance CP SA:
...,...,...,...,...,...,...,...
46877,1179.0,K02000001,2017 Q3,Quarter,MTN7,GBP(millions),Manufacturing and Maintenance Services - Expor...
46878,838.0,K02000001,2017 Q3,Quarter,MTN8,GBP(millions),Manufacturing and Maintenance Services - Balan...
46879,-1590.0,K02000001,2017 Q3,Quarter,ENIW,GBP(millions),BOP: Trade in Goods:Fuels other than oil: SITC...
46880,-28029.0,K02000001,2017 Q3,Quarter,HJYM,GBP(millions),FDI : Outward : Total FDI : Net Transactions i...
46881,7346.0,K02000001,2017 Q3,Quarter,HJYR,GBP(millions),FDI : Inward : Total FDI : Net Transactions in...
46882,445.0,K02000001,2017 Q3,Quarter,FIOU,GBP(millions),Construction Services (Imports) Total: CP SA:
46883,5176.0,K02000001,2017 Q3,Quarter,FLUZ,GBP(millions),Secondary Income: Other Sectors: Imports: £M: ...
46884,-15.0,K02000001,2017 Q3,Quarter,LTCV,GBP(millions),BoP: FA: Assets: Reserves: Total official rese...
46885,8895.0,K02000001,2017 Q3,Quarter,CYFV,GBP(millions),FDI : Inward : Total NFC & FCs : Re-invested E...
46886,8539.0,K02000001,2017 Q3,Quarter,FAPO,GBP(millions),Travel (Exports) Total: CP SA:
46887,19996.0,K02000001,2017 Q3,Quarter,XBLW,GBP(millions),BoP: FA: PI: Liability flows: Total: Equity an...
46888,21588.0,K02000001,2017 Q3,Quarter,FEHH,GBP(millions),Other Business Services (Exports) Total: CP SA:
46889,17173.0,K02000001,2017 Q3,Quarter,XBLX,GBP(millions),IMF BoP FA PI liability flow debt securities 4...
46890,173.0,K02000001,2017 Q3,Quarter,BQKX,GBP(millions),BOP:Balance:SA:Unspecified goods: SITC 9 £M
46891,1614796.0,K02000001,2017 Q3,Quarter,HEPX,GBP(millions),BoP IIP PI Asset level total equity NSA
46892,26032.0,K02000001,2017 Q3,Quarter,CGDZ,GBP(millions),BoP Inc PI Debits SA
46893,-10453.0,K02000001,2017 Q3,Quarter,HDNY,GBP(millions),FDI : Outward : Total NFC & FCs : Re-invested ...
46894,13385.0,K02000001,2017 Q3,Quarter,CGDX,GBP(millions),BoP Inc OI Debits Debt securities SA
46895,8428.0,K02000001,2017 Q3,Quarter,CGDW,GBP(millions),BoP Inc OI Credits SA
46896,13551.0,K02000001,2017 Q3,Quarter,CGDV,GBP(millions),BoP Inc PI Credits SA
46897,5377.0,K02000001,2017 Q3,Quarter,CGDU,GBP(millions),BoP Inc PI Credits total debt securities SA
46898,8174.0,K02000001,2017 Q3,Quarter,CGDT,GBP(millions),BoP Inc PI Credits total equity securities SA
46899,5176.0,K02000001,2017 Q3,Quarter,CGDS,GBP(millions),"Secondary Income debits: Other sectors, other ..."
46900,0.0,K02000001,2017 Q3,Quarter,CGDR,GBP(millions),Secondary Income Debits; Other sectors payment...
46901,0.0,K02000001,2017 Q3,Quarter,JCWM,GBP(millions),Capital transfers (Debits): Total other sector...
46902,2519.0,K02000001,2017 Q3,Quarter,CGDP,GBP(millions),Secondary Income debits; Central Government Ot...
46903,4784.0,K02000001,2017 Q3,Quarter,CGDO,GBP(millions),"Secondary Income Credits: Other sectors, other..."
46904,146.0,K02000001,2017 Q3,Quarter,CGDN,GBP(millions),Secondary Income Credits: Central Govt Other r...
46905,5311.0,K02000001,2017 Q3,Quarter,FLUD,GBP(millions),Secondary Income: General Government: Imports:...
46906,6163.0,K02000001,2017 Q3,Quarter,FHME,GBP(millions),Transport (Imports) Total: CP SA:

In [35]:
new_table = new_table.drop('TIMEUNIT', axis=1)

In [38]:
new_table

,OBS,GEOG,TIME,Code Identifier,Currency,Title
0,194.0,K02000001,1946,HMBN,GBP(millions),BoP Investment Income credits NSA
1,76.0,K02000001,1946,HMBM,GBP(millions),BoP Investment Income Balance NSA
2,56.0,K02000001,1946,HMBP,GBP(millions),BoP Primary Income Balance NSA
3,118.0,K02000001,1946,HMBO,GBP(millions),BoP Investment Income debits NSA
4,181.0,K02000001,1946,HBNT,GBP(millions),BoP FA total Net flows NSA
5,-153.0,K02000001,1946,HBOG,GBP(millions),BoP Current Account Balance NSA
6,-101.0,K02000001,1946,BOKI,GBP(millions),BOP:Balance:CP SA:Total Trade in Goods
7,1079.0,K02000001,1946,BOKH,GBP(millions),Balance of Payments:Imports:CP SA:Total Trade ...
8,978.0,K02000001,1946,BOKG,GBP(millions),BOP:Exports:CP SA:Total Trade in Goods
9,118.0,K02000001,1946,HBOL,GBP(millions),BoP Investment Income Debits SA
10,194.0,K02000001,1946,HBOK,GBP(millions),BoP Investment Income Credits SA
11,27.0,K02000001,1946,FLYL,GBP(millions),Capital Account (Debits) Total: CP SA:
12,76.0,K02000001,1946,HBOM,GBP(millions),BoP Investment Income Balance SA
13,-153.0,K02000001,1946,HBOP,GBP(millions),BoP Current Account Balance SA
14,0.0,K02000001,1946,MT5W,GBP(millions),Other Primary Income £M (Balance)
15,-101.0,K02000001,1946,LQCT,GBP(millions),BOP:Balance:NSA:Total Trade in Goods £M
16,447.0,K02000001,1946,IKBB,GBP(millions),BOP: Exports:CP SA: Total Trade in Services
17,721.0,K02000001,1946,IKBC,GBP(millions),BOP:Imports:CP SA:Total Trade in Services
18,166.0,K02000001,1946,KTNF,GBP(millions),Secondary Income: Total: Balance: £M: CP: NSA
19,-274.0,K02000001,1946,IKBD,GBP(millions),BOP:Balance:CP SA: Total Trade in Services
20,1425.0,K02000001,1946,IKBH,GBP(millions),Balance of Payments: Trade in Goods & Services...
21,1800.0,K02000001,1946,IKBI,GBP(millions),Balance of Payments: Trade in Goods & Services...
22,267.0,K02000001,1946,IKBN,GBP(millions),Secondary Income: Total exports: £M: CP: SA
23,101.0,K02000001,1946,IKBO,GBP(millions),Secondary Income: Total imports: £M: CP: SA
24,166.0,K02000001,1946,IKBP,GBP(millions),Secondary Income (BPM6) total bal. CP SA:
25,-274.0,K02000001,1946,KTMS,GBP(millions),Balance of Payments: Total Trade in Services: ...
26,-20.0,K02000001,1946,KTMP,GBP(millions),Income: Primary Income: Balance: £M: CP: NSA
27,-375.0,K02000001,1946,KTMY,GBP(millions),Balance of Payments: Total Trade in Goods & Se...
28,-21.0,K02000001,1946,FKMJ,GBP(millions),Capital Account: Balance: CP NSA
29,-20.0,K02000001,1946,IJAJ,GBP(millions),BOP: Income (BPM6) Primary Income balance CP SA:
...,...,...,...,...,...,...
46877,1179.0,K02000001,2017 Q3,MTN7,GBP(millions),Manufacturing and Maintenance Services - Expor...
46878,838.0,K02000001,2017 Q3,MTN8,GBP(millions),Manufacturing and Maintenance Services - Balan...
46879,-1590.0,K02000001,2017 Q3,ENIW,GBP(millions),BOP: Trade in Goods:Fuels other than oil: SITC...
46880,-28029.0,K02000001,2017 Q3,HJYM,GBP(millions),FDI : Outward : Total FDI : Net Transactions i...
46881,7346.0,K02000001,2017 Q3,HJYR,GBP(millions),FDI : Inward : Total FDI : Net Transactions in...
46882,445.0,K02000001,2017 Q3,FIOU,GBP(millions),Construction Services (Imports) Total: CP SA:
46883,5176.0,K02000001,2017 Q3,FLUZ,GBP(millions),Secondary Income: Other Sectors: Imports: £M: ...
46884,-15.0,K02000001,2017 Q3,LTCV,GBP(millions),BoP: FA: Assets: Reserves: Total official rese...
46885,8895.0,K02000001,2017 Q3,CYFV,GBP(millions),FDI : Inward : Total NFC & FCs : Re-invested E...
46886,8539.0,K02000001,2017 Q3,FAPO,GBP(millions),Travel (Exports) Total: CP SA:
46887,19996.0,K02000001,2017 Q3,XBLW,GBP(millions),BoP: FA: PI: Liability flows: Total: Equity an...
46888,21588.0,K02000001,2017 Q3,FEHH,GBP(millions),Other Business Services (Exports) Total: CP SA:
46889,17173.0,K02000001,2017 Q3,XBLX,GBP(millions),IMF BoP FA PI liability flow debt securities 4...
46890,173.0,K02000001,2017 Q3,BQKX,GBP(millions),BOP:Balance:SA:Unspecified goods: SITC 9 £M
46891,1614796.0,K02000001,2017 Q3,HEPX,GBP(millions),BoP IIP PI Asset level total equity NSA
46892,26032.0,K02000001,2017 Q3,CGDZ,GBP(millions),BoP Inc PI Debits SA
46893,-10453.0,K02000001,2017 Q3,HDNY,GBP(millions),FDI : Outward : Total NFC & FCs : Re-invested ...
46894,13385.0,K02000001,2017 Q3,CGDX,GBP(millions),BoP Inc OI Debits Debt securities SA
46895,8428.0,K02000001,2017 Q3,CGDW,GBP(millions),BoP Inc OI Credits SA
46896,13551.0,K02000001,2017 Q3,CGDV,GBP(millions),BoP Inc PI Credits SA
46897,5377.0,K02000001,2017 Q3,CGDU,GBP(millions),BoP Inc PI Credits total debt securities SA
46898,8174.0,K02000001,2017 Q3,CGDT,GBP(millions),BoP Inc PI Credits total equity securities SA
46899,5176.0,K02000001,2017 Q3,CGDS,GBP(millions),"Secondary Income debits: Other sectors, other ..."
46900,0.0,K02000001,2017 Q3,CGDR,GBP(millions),Secondary Income Debits; Other sectors payment...
46901,0.0,K02000001,2017 Q3,JCWM,GBP(millions),Capital transfers (Debits): Total other sector...
46902,2519.0,K02000001,2017 Q3,CGDP,GBP(millions),Secondary Income debits; Central Government Ot...
46903,4784.0,K02000001,2017 Q3,CGDO,GBP(millions),"Secondary Income Credits: Other sectors, other..."
46904,146.0,K02000001,2017 Q3,CGDN,GBP(millions),Secondary Income Credits: Central Govt Other r...
46905,5311.0,K02000001,2017 Q3,FLUD,GBP(millions),Secondary Income: General Government: Imports:...
46906,6163.0,K02000001,2017 Q3,FHME,GBP(millions),Transport (Imports) Total: CP SA:

In [39]:
print(len(new_table))

46907

In [40]:

new_table.fillna('', inplace=True)

writetechnicalCSV('C:\\Users\\vamsi\\Desktop\\Gdrive\\Out\\Mret\\pnbpWTA.csv', new_table)

writing 1 conversion segments into C:\Users\vamsi\Desktop\Gdrive\Out\Mret\pnbpWTA.csv
pdconversionwrite segment size 46907